<div class="container-details" *ngIf="dish">
    <div class="title">
        <div>
            <h3 class="text-title">{{BaseURL + dish.name | uppercase}}</h3>
            <hr>
        </div>
    </div>
    <div  class="section-details" *ngIf="dish" >
        <div class="details-item" >
            <mat-card >
                <mat-card-header >
                    <mat-card-title>
                        <h3 *ngIf="dish">{{BaseURL + dish.name | uppercase}}</h3>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
                <mat-card-content>
                    <p>{{BaseURL + dish.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button [routerLink]="['/dishdetail', prev]"><span class="bi bi-chevron-left"></span></button>
                    <button mat-button (click)="goBack()">BACK</button>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                    <button mat-button [routerLink]="['/dishdetail', next]"><span class="bi bi-chevron-right"></span></button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div  class="details-item">
            <h3>Comments</h3>
            <mat-list class="lista">
                <mat-list-item class="items" *ngFor="let com of dish.comments">
                    <div>
                        <span matListItemLine>{{com.comment}}</span>
                        <span matListItemLine>{{com.rating}} stars</span>
                        <span matListItemLine>-- {{com.author}} {{com.date}}</span>
                    </div>
                </mat-list-item>
            </mat-list>
            <div>
                <p>{{commentForm.value | json}}</p>
                <form  novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Author</mat-label>
                            <input matInput formControlName="author" placeholder="Author" ngModel="" value="" required>
                            <mat-error *ngIf="formErrors.author">{{ formErrors.author }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Rating</mat-label>
                            <mat-slider min="1" max="5" step="0.5" value="1.5">
                                <input matSliderThumb>
                            </mat-slider>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Comments</mat-label>
                            <textarea matInput formControlName="comment" placeholder="Your comment" required></textarea>
                            <mat-error *ngIf="formErrors.comment" >{{ formErrors.comment }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <button mat-raised-button color="primary" type="submit">Enviar</button>
                        </mat-form-field>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    <div [hidden]="dish">
        <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
</div>